<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="patch">


  <h1>Title:</h1>
    <input type="text" id="title" name="article[title]" value="<%= @article.title %>">

  <h3>Content:</h3>
    <input type="text" id="content" name="article[content]" value="<%= @article.content %>">

    <input type="submit" name="submit" id="submit"
</form>