<form action="/articles" method="post">
    <title>Create new article</title>
    <h1>Title:</h1>
    <input type="text" id="title" name="title">

    <h3>Content:</h3>
    <input type="text" id="content" name="content">

    <input type="submit" name="submit" id="submit">
</form>